@import "vars";

.mb-2 {
  margin-bottom: 2px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-18 {
  margin-bottom: 18px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mr-4 {
  margin-right: 4px ;
}

.mr-6 {
  margin-right: 6px;
}

.mr-8 {
  margin-right: 8px;
}

.mr-12 {
  margin-right: 12px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-18 {
  margin-right: 18px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-24 {
  margin-right: 24px;
}

.mr-32 {
  margin-right: 32px;
}

.ml-4 {
  margin-left: 4px ;
}

.ml-8 {
  margin-left: 8px;
}

.ml-12 {
  margin-left: 12px;
}

.ml-16 {
  margin-left: 16px;
}

.ml-18 {
  margin-left: 18px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-24 {
  margin-left: 24px;
}

.mt-16 {
  margin-top: 16px;
}

.m-auto {
  margin: 0 auto;
}

.w-full {
  width: 100%;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}


.gap-8 {
  gap: 8px;
}

.gap-16 {
  gap: 16px;
}

.flex-1 {
  flex: 1;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-grab {
  cursor: grab;
}

.cursor-grabbing {
  cursor: grabbing;
}

.relative {
  position: relative;
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-m90 {
  transform: rotate(-90deg);
}

.rotate-upside {
  transform: rotateX(180deg);
}

.select-none {
  user-select: none;
}

.transition-simple {
  transition: all 250ms linear;
}

.transition-bounced {
  transition: all 2500ms cubic-bezier(0.59,-0.48, 0.44, 1.38);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.color-sub-dark {
  color: $color-sub-dark;
}