$color-main-blue: #409FFF;
$color-sub-light-blue: #B2D9FF;
$color-light-blue: #7FBFFF;
$color-extra-light-blue: #E5F2FF;
$color-main-green: #29CC44;
$color-light-green: #83DA91;
$color-main-dark: #38455D;
$color-main-gray: #CFD3DE;
$color-rare-gray: #F7F8FA;
$color-sub-gray: #EBEEF5;
$color-sub-dark: #929BAA;
